.header {
  position: fixed;
  background-color: rgb(238, 232, 232);
  width: 97%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image {
  width: 60px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 10px;
  left: 10px;
}

.header-buttons {
  position: relative;
  display: flex;
  top: 10px;
  left: 500px;
}

.header-button {
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: rgb(130, 133, 134);
}


.instagram-logo {
  width: 30px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  margin-left: 10px;
  align-items: end;
}

.summary-image {
  width: 1450px; /* Set the desired width */
  height: 800px;
}